<div class="jumbotron">
    <h2>About Us</h2>
    <p>Jungle is an e-commerce site that sells unique products for very specific circumstances. Some of our products are definitely must-have items for everyone!</p>
</div>
